body{
    font-family: "Open Sans", sans-serif;
}

.container{
    display: flex;
    padding: 50px;
}


.leftMenu{
    flex: 1;
}

.search{
    padding: 10px;
    width: 200px;
    outline: none;
    border: 1px  solid gray;
}

h1{
    font-size: 30px;
    color: #555;
    font-weight: 300;
}

.cats{
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.cat{
   font-size: 20px;
   cursor: pointer;
   font-weight: 300;
   padding: 10px;
   cursor: pointer;
}



.rightMenu{
    flex: 4;
}

.products{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}

.product{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.name{
    font-weight: 300;
}